    body {
        font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        font-size: 50px;
    }
    
    .font-highlight {
        color: navy;
    }
    
    .name-highlight {
        color: salmon;
    }
    
    .half-width {
        width: 40%;
        margin-left: 5%;
        padding-left: 2%;
        float: left;
        margin-bottom: 150px;
    }
    
    p {
        color: dimgray;
        margin-bottom: 50px;
    }
    
    .half-width img {
        width: 100%;
    }
    
    .button {
        text-decoration: none;
        background-color: orange;
        padding: 20px 60px;
        background-image: linear-gradient(100deg, lightsalmon, tomato);
        border-radius: 7px;
        font-weight: bold;
        color: white;
        margin-top: 10%;
    }
    
    .project-area {
        min-height: 80%;
        background-color: whitesmoke;
        display: inline-flex;
        justify-content: space-around;
        padding-bottom: 150px;
    }
    
    .project {
        width: 30%;
        float: left;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 7px 15px grey;
        padding: 20px;
        margin-left: 20px;
    }
    
    .project img {
        width: 100%;
        border-radius: 10px;
    }
    
    .work {
        text-align: center;
        font-size: 50px;
    }
    
    .nav-bar {
        padding: 20px 20px;
    }
    
    .nav-bar ul {
        text-align: right;
    }
    
    .nav-bar li {
        display: inline-block;
    }
    
    .nav-bar ul li a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        margin: 5px;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .container2 {
        min-height: 20%;
        padding: 100px 0;
    }
    
    .inquiry {
        width: 50%;
        background-image: url(images/banner.png);
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 20px;
        background-position: center;
        margin: auto;
    }
    
    .inquiry h2 {
        text-align: center;
        margin-top: 150px;
        font-size: 50px;
        color: white;
    }
    
    .inquiry-btn {
        text-align: right;
        margin-top: 170px;
        padding-right: 80px;
        float: right;
    }